html {
    font-size: 14px;
}

/* Toggle Theme */
.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#checkbox {
    display: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* 新增的文字縮放功能 */
.text-resizable {
    font-size: inherit; /* 讓元素繼承根字體大小 */
}

/* 用來隱藏某些元素 (例如按鈕的圓形按鈕) */
.text-resize-buttons {
    position: fixed;
    top: 10px;
    right: 10px; /* 調整位置避免與其他元素重疊 */
    z-index: 1030;
    display: flex;
    gap: 10px;
}

    .text-resize-buttons button {
        width: auto; /* 讓按鈕寬度自適應 */
    }
